<div class="row" >
	<div class="col-8">
		<h3>Editing Blog  </h3>
		
	</div>
	<div class="col-4 text-right">
		<%= link_to 'Show', @blog %>
	</div>
</div>

<%= render 'blogs/partials/form', blog: @blog %>

