<%= render "blogs/partials/blog", blog: @blog %>
<div class="commentWrap" >
	<div class="commentData" id=comments-<%=@blog.id%>>
	    <%= render("comments/partials/nested_replies", 
	  		comment: Comment.new , 
	  		replies: @blog.comments.as_created, 
	  		blog: @blog) 
	  	%>
	</div>
</div>

<!-- End middle Section -->